/* *{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
} */

div{
    border: 2px solid gray;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
}

button{
    margin: .2rem;
}

.blue{
    background-color: skyblue;
}

.violet{
    background-color: violet;
}

.pink{
    background-color: hotpink;
}

form{
    margin-top: 2rem;
}

